OWNER_ID=     

# For Client API approach
API_ID=
API_HASH=
SESSION_NAME=media_cleaner
DELETION_DELAY_SECONDS=40
STICKER_DELETION_DELAY_SECONDS=360

# Safer delays
MAX_DELETIONS_PER_MINUTE=20  # Reasonable limit
ADD_RANDOM_DELAY=true  # Add 0-10 seconds randomly

# Python RunTime: 3.11.13 
